mi,mdss-dsi-dimmingon-command = [
	15 00 00 00 00 00 02 53 28
];
mi,mdss-dsi-dimmingon-command-state = "dsi_hs_mode";

mi,mdss-dsi-dimmingoff-command = [
	15 00 00 00 00 00 02 53 20
];
mi,mdss-dsi-dimmingoff-command-state = "dsi_hs_mode";

mi,mdss-dsi-round-corner-on-command = [
	/*round on */
	39 00 00 40 00 00 03 F0 AA 18
	39 00 00 00 00 00 02 B0 80
];
mi,mdss-dsi-round-corner-on-command-state = "dsi_lp_mode";
mi,mdss-dsi-round-corner-off-command = [
	/*round off */
	39 00 00 40 00 00 03 F0 AA 18
	39 00 00 00 00 00 02 B0 00
];
mi,mdss-dsi-round-corner-off-command-state = "dsi_lp_mode";

qcom,mdss-dsi-off-command = [
	39 00 00 40 00 00 03 F0 AA 1E
	39 00 00 40 00 00 02 65 20
	39 00 00 40 00 00 03 CA 01 E8
	39 00 00 40 00 00 02 65 40
	39 00 00 40 00 00 03 CA 01 D4
	39 00 00 40 00 00 02 65 20
	39 00 00 40 00 00 03 CE 01 FC
	39 00 00 40 00 00 02 65 40
	39 00 00 40 00 00 03 CE 01 E8
	39 00 00 40 00 00 02 65 20
	39 00 00 40 00 00 03 D2 01 E8
	39 00 00 40 00 00 02 65 40
	39 00 00 40 00 00 03 D2 01 D4
	39 00 00 40 00 00 03 C9 00 00
	39 00 00 40 00 00 03 CD 00 00
	39 00 00 40 00 00 03 D1 00 00
	39 00 00 00 00 00 03 51 00 00
	05 00 00 00 1E 00 01 28
	05 00 00 00 78 00 01 10
];
qcom,mdss-dsi-off-command-state = "dsi_hs_mode";

mi,mdss-dsi-hbm-on-command = [
	39 00 00 00 00 00 03 51 34 BC
];
mi,mdss-dsi-hbm-on-command-state = "dsi_hs_mode";

mi,mdss-dsi-hbm-off-command = [
	39 00 00 00 00 00 03 51 15 54
];
/* <mipi_address  update_index  update_length> */
mi,mdss-dsi-hbm-off-command-update = <0x51 0 2>;
mi,mdss-dsi-hbm-off-command-state = "dsi_hs_mode";

qcom,mdss-dsi-nolp-command = [
	39 00 00 00 00 00 03 51 00 00
	/* AOD OFF */
	05 00 00 00 00 00 01 38
];
qcom,mdss-dsi-nolp-command-update = <0x51 0 2>;
qcom,mdss-dsi-nolp-command-state = "dsi_hs_mode";

mi,mdss-dsi-doze-hbm-command = [
	/* AOD OFF */
	39 00 00 40 00 00 03 51 02 61
	39 00 00 00 00 00 01 38
];
mi,mdss-dsi-doze-hbm-command-state = "dsi_hs_mode";
mi,mdss-dsi-doze-lbm-command = [
	/* AOD OFF */
	39 00 00 40 00 00 03 51 00 2E
	39 00 00 00 00 00 01 38
];
mi,mdss-dsi-doze-lbm-command-state = "dsi_hs_mode";

mi,mdss-dsi-doze-suspend-hbm-command = [
	/* AOD ON */
	39 00 00 40 00 00 01 39
	39 00 00 40 00 00 02 6D 00
	39 00 00 00 00 00 03 51 02 61
];
mi,mdss-dsi-doze-suspend-hbm-command-state = "dsi_lp_mode";

mi,mdss-dsi-doze-suspend-lbm-command = [
	/* AOD ON */
	39 00 00 40 00 00 01 39
	39 00 00 40 00 00 02 6D 02
	39 00 00 00 00 00 03 51 00 2E
];
mi,mdss-dsi-doze-suspend-lbm-command-state = "dsi_lp_mode";

mi,mdss-dsi-doze-hbm-nolp-command = [
	/* AOD OFF */
	39 00 00 40 00 00 03 51 02 61
	39 00 00 00 00 00 01 38
];
mi,mdss-dsi-doze-hbm-nolp-command-state = "dsi_lp_mode";

mi,mdss-dsi-doze-lbm-nolp-command = [
	/* AOD OFF */
	39 00 00 40 00 00 03 51 00 2E
	39 00 00 00 00 00 01 38
];
mi,mdss-dsi-doze-lbm-nolp-command-state = "dsi_lp_mode";

mi,mdss-dsi-flat-mode-on-command = [
	39 00 00 40 00 00 02 A4 01
	39 00 00 40 00 00 03 F0 AA 11
	39 00 00 40 00 00 02 D5 13
	39 00 00 40 00 00 02 C3 31
	39 00 00 40 00 00 02 A4 00
	39 00 00 00 00 00 02 A6 01
];
mi,mdss-dsi-flat-mode-on-command-state = "dsi_lp_mode";
mi,mdss-dsi-flat-mode-off-command = [
	39 00 00 40 00 00 02 A4 01
	39 00 00 40 00 00 03 F0 AA 11
	39 00 00 40 00 00 02 C3 30
	39 00 00 40 00 00 02 A4 00
	39 00 00 40 00 00 02 A4 02
	39 00 00 40 00 00 03 F0 AA 11
	39 00 00 40 00 00 02 D5 10
	39 00 00 40 00 00 02 A4 00
	39 00 00 00 00 00 02 A6 13
];
mi,mdss-dsi-flat-mode-off-command-state = "dsi_lp_mode";

/*timming common*/
qcom,mdss-dsi-panel-width = <1156>;
qcom,mdss-dsi-panel-height = <2510>;
qcom,mdss-dsi-h-front-porch = <64>;
qcom,mdss-dsi-h-back-porch = <64>;
qcom,mdss-dsi-h-pulse-width = <32>;
qcom,mdss-dsi-v-back-porch = <64>;
qcom,mdss-dsi-v-front-porch = <64>;
qcom,mdss-dsi-v-pulse-width = <32>;
qcom,mdss-dsi-h-sync-pulse = <0>;
qcom,mdss-dsi-h-left-border = <0>;
qcom,mdss-dsi-h-right-border = <0>;
qcom,mdss-dsi-v-top-border = <0>;
qcom,mdss-dsi-v-bottom-border = <0>;
qcom,mdss-dsi-panel-clockrate = <1205000000>;
qcom,mdss-dsi-panel-jitter = <0x5 0x1>;
qcom,mdss-mdp-transfer-time-us = <7300>;

qcom,mdss-dsi-panel-phy-timings = [00 28 0A 0B 1B 1A 0A 0B 0A 02 04 00 21 0F];
qcom,display-topology = <2 2 1>;
qcom,default-topology-index = <0>;

/*dsc common*/
qcom,compression-mode = "dsc";
qcom,mdss-dsc-version = <0x12>;
qcom,mdss-dsc-scr-version = <0x0>;
qcom,mdss-dsc-slice-height = <10>;
qcom,mdss-dsc-slice-width = <578>;
qcom,mdss-dsc-slice-per-pkt = <2>;
qcom,mdss-dsc-bit-per-component = <10>;
qcom,mdss-dsc-bit-per-pixel = <8>;
qcom,mdss-dsc-block-prediction-enable;
/*patrial update*/
qcom,panel-roi-alignment = <1156 10 1156 10 1156 10>;
qcom,partial-update-enabled = "single_roi";
